    <footer class="main-footer-container">
        <div class="footer-content">
            <p>&copy; <%= new Date().getFullYear() %> SSERAFIM. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>